@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/*font-family: 'Roboto Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*font-family: 'Dancing Script', cursive;
*/
:root{
  --main-color:#c8e2ed;
  --main:#e6b59e;
}
body{
  overflow:hidden;
}
.main-color{
  color:var(--main);
}
/*end envota*/
.container-me{
  width: 90%;
  margin: auto;
}
/*start info-pathwell*/
.info-pathwell{
  background-color: rgb(238,238,238);
}
.info-pathwell .info{
  margin-left: 100px!important;
}
.info .spetial:hover{
  color:var(--main-color) ;
}
.info-pathwell .text-info p{
  text-align: center;
  color:#f0ecea;
}
.info-pathwell .info{
  font-size: 1rem;
  color:#89807c;

}
/*end info-pathwell*/
/*start navbar*/
.navbar .nav-item a{
  font-weight:500;
  font-size: 22px !important;
  font-family: inherit;
  color: white !important;
}
.navbar .nav-item:hover a{
  color: var(--main)!important;
}
.navbar .nav-item .active{
  position: relative;
}
.navbar .nav-item .active::after{
  content: "";
  position: absolute;
  left: 22px;
  height: 0;
  right: 0;
  bottom: 6px;
  width: 30px;
  height: 30px;
  z-index: -1;
  border-radius:50%;
  background-color:var(--main-color);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}
.dropdown-menu{
  background-color: #8dbcd2;
}
/*end navbar*/
/*start header*/
.header{
  background-image: url(../img/slide3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}
.header h1{
  font-size: 70px;
}
.header p{
  color:var(--main-color);
  font-size: 1.3rem;
  font-family: 'Dancing Script', cursive;
}
.header a{
  background-color: var(--main);
}
.header a:hover{
background-color: var(--main-color);
}
/*end header*/

/*start about*/
.about .container-me{
  background-color: #f3f2f0;
}
.about .info-about h2{
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;;
}
.about .info-about h3{
  font-family:'Dancing Script', cursive ;
  color:var(--main-color);
}
.about .info-about p{
  font-size: 0.8rem;
  color:#89807c;
}
.icons{
  z-index: 10;
}
.icons i{
  position: relative;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main);
}
.icons i::after{
  content: '';
  position: absolute;
  left: -153px;
  top: 23px;
  width: 343px;
  height: 1px;
  background-color: var(--main);
  z-index: 100;
}

.info-about .gmail:hover{
color:var(--main-color) !important;
}
.cards i{
  width: 10%;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
}

.overlay{
  opacity: 0;
}
.cards .card-content{
  transition: 1s ;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  -o-transition: 1s ;
}
.cards .card-content:hover{
  background-color: var(--main-color);
  transform: rotatey(360deg);
  -webkit-transform: rotatey(360deg);
  -moz-transform: rotatey(360deg);
  -ms-transform: rotatey(360deg);
  -o-transform: rotatey(360deg);
}
.cards .card-content:hover .overlay{ 
  opacity: 1;
}
.card-content:hover i{
background-color: white!important;
}
/*end about*/
/*start contact*/
.contact{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg-22-copyright.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 27px;
}
.contact a{
  background-color: var(--main);
}
.contact a:hover{
  background-color: var(--main-color);
}
.contact p{
  font-family: 'Dancing Script', cursive;
  color:var(--main-color);
}
/*start info contact*/
.info-contact .info i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #89807c;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.info-contact .info:hover span{
  color: var(--main) !important;
}
.info-contact .info:hover .fa-solid{
  transform: scale(1.1);
  color: white !important;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/*end info contact*/
/*end contact*/
/*start service*/
.services .info-service p{
  font-family:'Dancing Script', cursive;
  font-size: 1rem;
  color:var(--main-color);
}
.info-service .icons-service i{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
}
.info-service .icons-service .spetial{
  font-weight: 100;
  font-size: 1rem;
  color:rgba(0,0,0,0.8);
}
.info-service h3{
  font-size: 2rem!important;
}
.info-service .Meeting{
  background-color: #f3f2f0;
}
/*end service*/
/*start client*/
.clients{
  background-color: #f3f2f0;
}
.clien-text p{
  font-family:'Dancing Script', cursive;
  font-size:1.2rem;
  color:var(--main-color);
}
.imges span{
  font-family:'Dancing Script', cursive;
  font-size:1.2rem;
  color:var(--main-color);
}
.clients .btton a{
  background-color: var(--main);
}
.clients .btton a:hover{
  background-color: var(--main-color);
}
.client .imges{
  position: relative;
}
.client .imges::after{
  margin:auto;
  width:90%;
  position: absolute;
  content: '';
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.client .imges:hover::after{ 
opacity: 1;
transform: scale(1.1);

}
.imges{
  position: relative;
}
.icons-clients{
  z-index: 10;
}
.icons-clients i{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #8dbcd2;
  margin-left: 5px!important;
  opacity: 0;
  color:white;
}
.icons-clients i:hover{
  background-color: var(--main)!important;
}

.client .imges:hover .icons-clients i{
  cursor: pointer;
  opacity: 1;
}
.client .imges:hover img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.imges .icons-clients{
  position: absolute;
  left: 0;
  top: 158px;
  right: 0;
  bottom: 0;
}
.client-info h5{
  font-family:'Roboto Slab', serif; 
}
.client-info h5:hover{
  color:var(--main);
}
.client-info span{
  font-family:'Dancing Script', cursive;
  font-size:1.2rem;
  color:var(--main-color);
}
/*end client*/
/*start independent*/
.independent{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/client/independnt.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center 6px;
}
.independent a{
  background-color: var(--main);
}
.independent a:hover{
  background-color: var(--main-color);
}
.independent h2{
  font-family:'Roboto Slab', serif;
  font-size: 50px;
}
.independent p{
text-align: center;
}
/*end independent*/
/*start about our*/
.About_Our{
  background-color: #f3f2f0;
}
.About_Our .text span{
  color:var(--main-color);
  font-family:'Dancing Script', cursive;
  font-size:1.2rem;
}
.nav-tab .nav-item .active{
  color: white !important;
  margin-left: 10px;
  background-color: var(--main-color);
}
.tab-info p{
  color:rgba(0,0,0,0.5);
}
.tab-info a{
  background-color: var(--main);
}
.tab-info a:hover{
  background-color: var(--main-color);
}
/*start servises*/
.services-tow{
  background-color: #f3f2f0;;
}
.services-tow .icons-service i{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  margin: auto;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.services-tow .icons-service:hover i{
  background-color: white;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.text-services h5:hover{
color: var(--main);
}
.text-services span{
  color:var(--main);
  font-size: 0.8rem !important;
}
/*end services*/
/*end about out*/
/*start Testimonials*/
.Testimonials{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg-15-copyright.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center 3px;
}
.carousel-indicators{
  position: static;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*end Testimonials*/
/*start our-latest-news*/
.our-latet-news{
  background-color:  #f3f2f0;
}
.images-our-latest-news{
  position: relative;
}
.images-our-latest-news .text-images{
  position: absolute;
  left: 104px;
  top: 13px;
  color: var(--main);
  z-index: 10;
}
.images-our-latest-news .text-images:hover{
  color:white;
  background-color: var(--main-color)!important;
}
.images-info p ,.images-info span,.images-info i{
  color:rgba(0,0,0,0.5)
}
.images-info h4:hover{
color: var(--main) !important;
}
.meet-link a{
  background-color: var(--main);
  color: white;
}
.meet-link a:hover{
  background-color: var(--main-color);
}
.images-our-latest-news .carousel-indicators{
  opacity: 0;
  color: var(--main);
}
.images-our-latest-news:hover img{
  width: 100%!important;
}
.images-our-latest-news::after {
  width:100%;
  position: absolute;
  content: '';
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  opacity: 0;
  transition: 0.3s;
  margin: auto;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.images-our-latest-news:hover::after{
  opacity: 1;

}
.images-our-latest-news:hover .carousel-indicators{
  opacity: 1;
}
/*start map*/
.map{
  background-color: #f3f2f0;
}
.map .icon-map{
  width: 60px;
  height: 60px;
  margin-left: 3px !important;
  background-color: #f3f2f0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color:var(--main);
}
.map .info-map h4{
  font-size: 40px!important;
  font-family: 'Roboto Slab', serif;
}
/*end map*/
/*start footers*/
.footer{
  background-color:  rgba(0, 0, 0, 0.7);
}
.icons-footers i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 1s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #cccccc;
  color:white;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.icons-footers i:hover{
  background-color: var(--main);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.navbar1-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: white !important;;
}
.navbar1 .nav-item a{
  font-weight: 500;
    font-size: 15px !important;
    font-family: inherit;
    color: white !important;
}
.navbar1 .nav-item a:hover{
color: var(--main) !important;;
}
/*end footers*/
/*start Arrow*/
.arrow-screen{
  bottom: 20px;
  right: 20px;
}
.arrow-screen i{
  width: 40px;
  height: 40px;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
/*end arrow */
/*start video*/
.video{
  opacity: 0;
}
.icons-Progressive p{
  width: 60%;
  margin: auto;
}
.icons-Progressive i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  margin: auto;
}
.icons-Progressive.pro{
  background-color: #f3f2f0;

}
/*end video*/
/*start loader*/
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--main)var(--main);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
/*end loader*/
/*media*/
@media screen and (max-width:786px){
  :root{
    font-size: 10px;
  }
  .style{
    position: static;
  }
  .about img{
    width: 100%;
  }
  .info-service .icons-service i{
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width:1200px){
  :root{
    font-size: 18px;
  }
  
}
@media screen and (max-width:575px){
  .navbar{
    background-color: #89807c!important;
  }
  .envato{
    position: static!important;
  }
  .envato .bay{
    font-size: 15px;
  }
  .info-pathwell{margin-top: auto!important;}
  .info-pathwell .info{margin-left: auto!important;}
  .cards .card-content:hover .overlay{ 
    opacity: 0;
  }
  .Testimonials-info{
    display: inline !important;;

  }
  .Testimonials-info img{
    width: 20%!important;
  }
  .map .links{
    width: 100%!important;
  }
  .icons-footers{
    margin-bottom: 20px;
  }
  .Arrow{
    position: static!important;
    opacity: 0;
  }
  .icons-Progressive p{
    width: 100%;
  }
  .navbar-brand img{
    width: 45%;
  }
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1849px;
}
}
/*end
/*end media*/